<mat-toolbar *ngIf="isLoggedIn$ | async" class="navbar">
    <a routerLink = "/home">Game</a>
    <form class="search">
          <input *ngIf="searchOff" class="searchInput"> 
        <button mat-button (click)="searchOn()">
              <mat-icon aria-hidden="false">search</mat-icon>
        </button>
    </form>
    <div class="ticker-wrapper">
        <div class="news-update">
                <ol *ngIf="info">
                    <li *ngFor="let news of info.news"> {{news.source}}: "{{news.theme}}"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ol>
        </div>
    </div>
    <div class="shortInfo" *ngIf="info">
        <span> {{currentDate | date:'dd.MM.yyyy'}}</span>
    <button mat-button (click)="openUserInfo(false)">
        <mat-icon aria-hidden="false">account_circle</mat-icon>
        <span>{{ info.login }}</span>
        <mat-icon aria-hidden="false">local_atm</mat-icon>
        <span>{{ info.money.money }}</span>
        <mat-icon aria-hidden="false">home_repair_service</mat-icon>
        <span> {{info.money.stocks}}</span>
    </button>
    </div>
    <div>
        <button (click) = "logout()" mat-button>
            <mat-icon aria-hidden="false">exit_to_app</mat-icon>
        </button>
    </div>
</mat-toolbar>
