<div class="d-flex bd-highlight">
<div class="p-2 bd-highlight list">
    <div class="buttons">
<button mat-raised-button color="accent" (click)="openList()">Open stock market</button>
<button mat-raised-button color="accent" (click)="openUserinfo()">Stock exchange</button>
<button mat-raised-button color="accent">Investors</button>
<button mat-raised-button color="accent" (click)="openNews()">News</button>
<button mat-raised-button color="accent">FAQ</button>
<button mat-raised-button color="accent" (click)="openUserinfo()">Profile</button>
    </div>
    <div class="border-one">
    <app-companies-list [hidden]="showList"></app-companies-list>
    <app-news [hidden]="showNews"></app-news>
    <app-user-info [hidden]="showInfo"></app-user-info>
    </div>
</div>
<div class="p-2 flex-shrink-1 bd-highlight user-info">
    <h2>Global chat</h2>
    <div class="border-two">
        <app-global-chat></app-global-chat>
    </div>
</div>
</div>

