.list{
    width: 65%;
    height: 50%
}
.user-info{
    width: 34%;
    height: 50%
}
.border-one{
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    box-sizing: border-box
}

.border-two{
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    height: 568px;
}
button {
    margin: 10px;
}