.border-one{
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 1020px;
    box-sizing: border-box
}

.border-two{
    margin: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 470px;
    box-sizing: border-box
}
button {
    margin: 10px;
}