.list{
    width: 65%;
    height: 50%
}
.user-info{
    width: 34%;
    height: 50%
}
.user-info h2{
text-align: center;
margin-bottom: auto;
margin: 17px;
}
.border-one{
    margin-top: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    height: 568px;
}

.border-two{
    margin-top: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
    box-sizing: border-box;
    height: 568px;
}
button {
    margin: 10px;
}
.buttons{
    justify-content: space-between;
}