.g-chat {
    padding: .5rem!important;
}

div.chat-content {
    border-radius: .25rem;
    height: 450px;
    margin-bottom: 2rem;
}

.card {
    height: 100%;
}

ul {
    height: 445px;
    overflow: auto;
    box-sizing: border-box
  }
.col-3{ 
  text-align: center;
  padding: 8px;
 }
.col-3 span{
    font-size: xx-large;
}