<div class="d-flex bd-highlight">
<div class = "list">
<h2>List of companies:</h2>
<mat-list>
  <div *ngIf="loading">
    <p class="text-center">Loading posts...</p>
  </div>
    <mat-list-item *ngFor="let company of companies$">
    <h4 matLine> {{company.name}} </h4>
    <p matLine>
      <span> {{company.cost}} </span>
      <button style="float: right; border:0ch; background-color: transparent;" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
      <button mat-raised-button mat-menu-item (click)="BuyStock(company)">
        Buy
      </button>
      <button mat-raised-button mat-menu-item (click)="SellStock(company)">
        Sell
      </button>
    </mat-menu>
    </mat-list-item>
  </mat-list>
</div>

<div class="p-2 flex-fill bd-highlight">
  <app-user-info></app-user-info>
</div>
</div>
