.list {
    padding: .5rem!important;
    width: 700px;
}
h4 {
    color: black
}
p {
    margin: 0px;
    color: black
}

mat-list {
    height: 580px;
    overflow: auto;
    box-sizing: border-box
  }